{% extends "base.html.twig" %}
{% block title %}Super Fantôme{% endblock %}
{% block meta_description %} 'Super Fantôme contre le Docteur Krapougnat' est un récit dont on est le héros illustré. {% endblock %}
{% block icon %} <link rel="icon" href= {{ asset('/icones/icone_superFantome.png') }}>	{% endblock %}
    {% block javascripts %}
    {% endblock %}
    {% block stylesheets %}
			{{ encore_entry_link_tags('superFantome') }}
		{% endblock %}
  {% block body %}
    <header>
      <a href="{{path('sf_lecture')}}">
        <img src="{{asset('superfantome/banniere.png')}}" alt="bannière super fantôme" />
      </a>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <nav>
        <a href="{{path('sf_liens')}}">Liens</a>
        <a href="{{path('sf_apropos')}}">À propos</a>
        <a href="{{path('sf_contact')}}">Contact</a>
      </nav>
    </footer>
	{% endblock %}
