      <header>
        <img
          class="grand"
          src={{asset('japon/elements_graphiques/header_1024x256.png')}}
          alt="banniere"
        />
        <img
          class="petit"
          src={{asset('japon/elements_graphiques/banniere_petite.png')}}
          alt="bannere"
        />
      </header>
      <nav>
        <a href={{path('japon')}}>Accueil</a>
        <a href={{path('japon_apropos')}}>À propos</a>
        <a href={{path('japon_liens')}}>Liens</a>
        <a href={{path('japon_contact')}}>Contact</a>
      </nav>
