{% extends 'base.html.twig' %}

{% block title %}Portfolio Florian Duchesne{% endblock %}

{% block body %}
<header id="header">
  <a><h1>Florian Duchesne</h1></a>
  <nav>
  <div class="hamburgerBackground"></div>
    <i class="fa fa-solid fa-bars"></i>
    <i class="fas fa-times hidden"></i>
    <ul>
      <li><a href="#apropos">A propos</a></li>
      <li><a href="#parcours">Parcours</a></li>
      <li><a href="#projets">Projets</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="{{asset('/files/' ~ cv.fichier )}}">CV</a></li>
    </ul>
  </nav>
</header>
<section id="apropos">
  <h2>A propos</h2>
  <div id="apropos_bloc">
    <div id="apropos_contenu">
      {{ about.contenu|raw }}
    </div>
    <img src="{{asset('/files/' ~ about.aboutPicture)}}" alt="portrait de Florian Duchesne">
  </div>
</section>
<section id="parcours">
<h2>Parcours</h2>
<h3>Formations</h3>
<div>
{% for formation in formations %}
  <p>{{formation.intitule}} <em> - {{formation.lieu}} - {{formation.annee}}</em></p>
{% endfor %}
</div>
<h3>Expériences professionnelles</h3>
<div>
{% for exp in experiences %}
  <p>{{exp.intitule}} <em> - {{exp.lieu}} - {{exp.naturePoste}} - {{exp.annee}}</em></p>
{% endfor %}
</div>
<h3>Compétences</h3>
<div>
<p id="competences">
{% for comp in competences %}
  <span>{{comp}}</span>
{% endfor %}
</p>
</div>
</section>
<section id="projets">
  <h2>Projets</h2>
  <div class="listeProjets">
  <div id="backgroundSingleProjet"></div>
    {% for projet in projets %}

    <div class="hiddenProjet" id="projetDetail{{projet.id}}">
      <h3>{{projet.intitule|capitalize}}</h3>
      <i class="fas fa-times"></i>
      <div class="projetContainer">
        <div class="col1">
          <div class="images">
            {% if projet.pictures|length > 1 %}
              <div class="smallPics">
              {% for picture in projet.pictures %}
                <img src="{{asset('/files/' ~ picture)}}" alt="{{projet.intitule}}"/>
              {% endfor %}
              </div>
            {% endif %}
            <img class="bigPic" src="{{asset('/files/' ~ projet.pictures[0])}}" alt="{{projet.intitule}}"/>
          </div>
        </div>
        <div class="col2">
          <div class="texte">{{projet.texte|raw}}</div>
        </div>
        <p>Compétences employées sur le projet : 
        {% for competence in projet.competences %}
          <span>{{competence.intitule}}
            {% if competence != loop.last %}
              ,
            {% endif %}
          </span>
        {% endfor %}
        </p>
        {% include '/elements/liens.html.twig' %}
      </div>
    </div>
      <div class="projet" id="projetThumbnail{{projet.id}}">
        <figure>
          <img src="{{asset('/files/' ~ projet.pictures[0])}}" alt="{{projet.intitule}}"/>
          <figcaption>
            <h3>{{projet.intitule|capitalize }}</h3>
            <div class="hideContent">
              <div>{{projet.texte|u.truncate(150, '…', false)|raw}}</div>
              {% include '/elements/liens.html.twig' %}
            </div>
          </figcaption>
        </figure>
      </div>
    {% endfor %}
  </div>
</section>
<section id="contact">
  <h2>Contact</h2>
  <div class="blocContact">
    <div>
      <p>retrouvez-moi sur Github :</p>
      <a href="https://github.com/FlorianDuchesne/" target="_blank"><img src="{{asset('/logos/GitHub-Mark-120px-plus.png')}}" alt="logo github"></a>
    </div>
    <div>
      <p> ou sur LinkedIn :</p>
      <a href="https://www.linkedin.com/in/florian-duchesne/" target="_blank"><img src="{{asset('/logos/LI-In-Bug.png')}}" alt="logo linkedIn"></a>
    </div>
  </div>
  <p>ou bien écrivez-moi :</p>
  {{ form_start(form) }}
  <div>
    {{ form_errors(form) }}
  </div>
	<div class="field">
    {{ form_widget(form.from_name) }}
  </div>
  <div class="field">
    {{ form_widget(form.user_email) }}
  </div>
  <div class="field">
    {{ form_widget(form.message) }}
  </div>
  <div class="form-bloc">
    <div class="g-recaptcha" data-sitekey="6LexqPkhAAAAAGlznCL9c8dCP7kzXMPHAYlEt7Q9"></div>
    {{ form_widget(form.submit) }}
  </div>
  {{ form_rest(form) }}
</section>
<section id="cv">
  <p>Téléchargez mon CV :</p>
  <a href="{{asset('/files/' ~ cv.fichier )}}"><i class="fa fa-arrow-circle-down"></i></a>
  <p>A bientôt ! : )</p>
  <a href="#header" id="up"><i class="fas fa-chevron-up"></i></a>
</section>
<footer>
<small>&#169; Florian Duchesne 2022</small>
</footer>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('contact') }}
  {{ encore_entry_script_tags('portfolio') }}
{% endblock %}
