    {% block stylesheets %}
			{{ encore_entry_link_tags('japon') }}
		{% endblock %}

  {% extends "chroniquesJapon/layout.html.twig" %}
      {% block content %}
      <main>

      {% for chronique in chroniques %}

        <a href={{path('japon_lecture', {'chronique': chronique.id})}} class="survol">
          <div class="overlay">
            <h2 class="texte">
              {{chronique.id}} : <br />
              {{chronique.titre}}
            </h2>
          </div>
          <img
            src={{ asset('japon/elements_graphiques/ronds/' ~ chronique.fichier ) }}
            alt="{{chronique.titre}}"
            class="image"
          />
        </a>

      {% endfor %}

      </main>
{% endblock %}
