  {% extends "chroniquesJapon/layout.html.twig" %}

    {% block stylesheets %}
			{{ encore_entry_link_tags('japon_lecture') }}
		{% endblock %}
    {% block javascripts %}
      {{ encore_entry_script_tags('japon_lecture') }}
    {% endblock %}
      {% block content %}
      <main>

      {% if chronique is not null %}

      <h1>{{ chronique.id}} : {{chronique.titre}}</h1>
      <figure>
      {% for page in pages %}

        {% if loop.first %}
          <img src={{ asset('files/' ~ page.fichier)}} alt={{page.name}} />
        {% else %}
          <img class="hidden" src={{ asset('files/' ~ page.fichier)}} alt={{page.name}} />
        {% endif %}
      {% endfor %}
        <figcaption>
          <a class="first" href="">
            <i id="clicGauche" class="fas fa-arrow-left"></i>
          </a>
          {% if chroniqueSuivante is not null %}
          <a href={{path('japon_lecture', {'chronique': chroniqueSuivante})}}><i id="clicDroit" class="fas fa-arrow-right"></i>
          {% else %}
          <a href={{path('japon_end')}}><i id="clicDroit" class="fas fa-arrow-right"></i>
          {% endif %}
          </a>
        </figcaption>
      </figure>

    {% else %}
    <div class="end">
      <h1>Désolé, la prochaine chronique n'est pas (encore) publiée !</h1>
      <p>N'hésitez pas à suivre la <a href="https://www.facebook.com/profile.php?id=100064881932521" target="_blank" rel="noopener noreferrer">page facebook</a> pour vous tenir au courant !</p>
    </div>
    {% endif %}
    </main>
    {% endblock %}
